
* {
    font-family: Roboto;
}

.toolbar-space {
    height: 56px;
}

md-toolbar {
    box-shadow: 0px 2px 4px #bbb;
}

nav {
    margin-left: auto;
}

md-sidenav {
    padding: 2%;
    padding-top: 0;
}

md-sidenav .md-button {
    width: 100%;
    margin: 0;
    height: 5%;
    vertical-align: middle;
    align-content: center;
}

@media (max-width: 700px) {

}

@media (max-width: 975px) {
    nav {
        display: none;
    }
}