header {
/*    background-color: navy;*/
}

* {
    font-family: Roboto;
}

/*.active-tab {
    background-color: #1576a3;
    border-bottom: 5px solid #ddd;
}*/

.mdl-layout__header  {
/*    background: url('../img/mannrobo_banner.png');*/
/*    height: 300px !important;*/
}

.page-content {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .page-content {
        padding: 10px;
    }
}