
* {
    font-family: Roboto;
}

body {
    overflow: hidden;
}

md-toolbar {
    box-shadow: 0px 2px 4px #bbb;
}

md-sidenav._md-locked-open {
/*    max-width: 100%;*/
    max-width: 280px;
}

md-sidenav md-toolbar {
    text-align: center;
    box-shadow: none;
}

md-sidenav md-toolbar h2 {
    margin: 5px;
}

md-sidenav md-toolbar img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    max-height: 25%;
}