.site-logo {
    display: block;
    padding: 5px;
}

@font-face {
    font-family: 'custom-icons';
    src: url('https://mannrobo.github.io/fonts/customicons.ttf?kyde40') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-icons {
    font-family: "custom-icons";
}

@media all and (display-mode: standalone) {
    /* Here goes the CSS rules that will only apply if app is running standalone */
}

/* Fixes Materialize CSS' error in 
   browser-default styling for 
   unordered lists.*/
ul.browser-default li {
    list-style-type: disc; 
    list-style-position: inside; 
    margin-left: 15px;
}