.site-logo {
    display: block;
    padding: 5px;
}

@font-face {
    font-family: 'custom-icons';
    src: url('https://mannrobo.github.io/fonts/custom_icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-icons {
    font-family: "custom-icons";
    font-style: normal;
}

img.center-img {
    display: block;
    margin: 0 auto;
}

img.gallery-img {
    margin-bottom: 20px;
}

div.post-meta div.chip,
div.post-meta div.post-date {
    margin-bottom: 5px;
}

@media all and (display-mode: standalone) {
    /* Here goes the CSS rules that will only apply if app is running standalone */
}

/* Fixes Materialize CSS' error in 
   browser-default styling for 
   unordered lists.*/
ul.browser-default li {
    list-style-type: disc; 
    list-style-position: inside; 
    margin-left: 15px;
}