<!DOCTYPE html>

<html ng-cloak ng-app="mannRoboWeb" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="favicon.ico">
        
        <title>Mann Robotics: Home</title>
        
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        
        <!-- jQuery Library -->
        <script src="js/jquery-2.1.4.min.js"></script>
        
        <!-- Load the headings. -->
        <!--<script src="js/ajax_headings.js"></script>-->

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
        
        <!-- Your application bootstrap  -->
        <script src="js/angularBootstrap.js"></script>
    </head>
    <body ng-cloak ng-controller="MainCtrl">
        
        <header>
            <md-toolbar style="position:fixed;" flex>
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleNav();" class="md-icon-button" aria-label="Menu">
                        <md-icon class="material-icons">menu</md-icon>
                    </md-button>
                    <h1>J.L. Mann Robotics Club</h1>
                    <nav>
                        <md-button ng-href="index.html">Home</md-button>
                        <md-button ng-href="about.html">About Us</md-button>
                        <md-button ng-href="gallery.html">Gallery</md-button>
                        <md-button ng-href="news.html">News</md-button>
                        <md-button ng-href="calendar.html">Calendar</md-button>
                        <md-button ng-href="resources.html">Resources</md-button>
                    </nav>
                </div>
            </md-toolbar>
            <div class="toolbar-space"></div>
        </header>
        
        <md-sidenav class="md-sidenav-left md-whiteframe-8dp" 
                    md-component-id="left" flex layout="column">    
                   <!-- md-is-locked-open="$mdMedia('gt-md')">-->

            <md-toolbar class="md-tall md-hue-2">
                <div layout="column" class="md-tooldbar-tools-bottom inset">
                    <h2>Mann Robotics</h2>
                </div>
            </md-toolbar>
            <md-list flex=100>
                <md-list-item ng-repeat='item in menu' ng-href="{{item.href}}" aria-label="{{item.text}}">
                    <div flex layout="row" layout-wrap>
                        <md-icon flex=15 class="material-icons">{{ item.icon }}</md-icon>
                        <span flex=85>{{ item.text }}</span>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list>
                <md-list-item aria-label="Contact Us" ng-href="contact.html">
                    <div flex layout="row" layout-wrap>
                        <md-icon flex=15 class="material-icons">email</md-icon>
                        <span flex=85>Contact Us</span>
                    </div>
                </md-list-item>
                <md-list-item aria-label="Settings" ng-click="settingsHandler();">
                    <div flex layout="row" layout-wrap>
                        <md-icon flex=15 class="material-icons">settings</md-icon>
                        <span flex=85>Settings</span>
                    </div>
                </md-list-item>
            </md-list>

        </md-sidenav>
        
        <md-content>
            
            <div layout="row" layout-align="center start">
                <div flex layout-fill>
                    <md-card>
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">Website Under Construction</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                          <p>
                            This website is in the process of being built.<br>During that time, this website may be incomplete.
                          </p>
                        </md-card-content>
                      </md-card>
                </div>
            </div>
            
            <md-button ng-click="settingsHandler();">alert</md-button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <footer>
                
            </footer>
            
        </md-content>
        
    
    </body>
</html>