<div class="section blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="bignav-icon">
                    <a href="{{site.url}}">
                        <img class="responsive-img" src="{{site.url}}/img/logo-sm.png">
                    </a>
                </div>
            </div>
        </div>
        {% assign max-items = 4 %}
        {% assign item-counter = 0 %}
        {% assign skip-first-item = true %}

        {% for navitem in site.data.navigation %}

        
        {% if skip-first-item and forloop.index == 1 %}
            {% continue %}
        {% else %}
            {% assign item-counter = item-counter | plus: 1 %}
        {% endif %}

        {% if max-items >= item-counter %}
        <div class="row center">
            <div class="col s12">
                <a href="{{navitem.href | prepend: site.url}}"
                class="light-blue waves-effect waves-light btn z-depth-0"
                style="min-width: 60%">{{navitem.text}}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>