<div class="section blue darken-3 valign-wrapper" id="bignav">
    <div class="container valign">
        <div class="row">
            <div class="col s12">
                <div class="bignav-icon z-depth-1">
                    <a href="{{site.url}}">
                        <img class="responsive-img" src="{{site.url}}/img/logo-sm.png">
                    </a>
                </div>
            </div>
        </div>
        
        {% for navitem in site.data.splash-nav %}
        <div class="row center">
            <div class="col s12">
                <a href="#{{navitem.href}}"
                class="light-blue waves-effect waves-light btn">{{navitem.text}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>