<div class="navbar-fixed">
   <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ site.url }}" class="brand-logo waves-effect waves-light">
            <img src="{{ 'img/logo-ext-sm.png' | prepend: site.url }}" 
                 alt="Mann Robotics Logo" class="responsive-img site-logo hide-on-small-only" style="height: 64px;">
            <img src="{{ 'img/logo-sm.png' | prepend: site.url }}"
                 alt="Mann Robotics Logo" class="responsive-img site-logo hide-on-med-and-up" style="height: 56px;">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light" href="{{site.url}}">Home</a></li>
            {% for item in site.data.navigation %}
                <li><a class="waves-effect waves-light" href="{{ item.href | prepend: site.url}}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <div class="card-panel blue lighten-2" style="margin-top: 0; height: 150px;">
                <img class="responsive-img" src="{{'img/logo.png' | prepend: site.url}}">
            </div>
            <li>
                <a class="waves-effect" href="{{site.url}}">
                    <div class="row">
                        <div class="col s3"><i class="material-icons">home</i></div>
                        <div class="col s9">Home</div>
                    </div>
                </a>
            </li>
            {% for item in site.data.navigation %}
                <li>
                    <a class="waves-effect" href="{{ item.href | prepend: site.url}}">
                        <div class="row">
                            <div class="col s3"><i class="material-icons">{{ item.icon }}</i></div>
                            <div class="col s9 valign-wrapper">{{ item.text }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
  </nav>
</div>