<header>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="browserBack();" class="md-icon-button" 
                       aria-label="Back" ng-hide="{{page.hideBack}}">
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
            <md-button ng-click="toggleNav();" class="md-icon-button" 
                       aria-label="Menu" hide-gt-sm ng-hide="{{page.hideMenu}}">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <h1>{{page.title}}</h1>
        </div>
    </md-toolbar>
</header>