<div class="navbar-fixed">
   <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ site.url }}" class="brand-logo">
            <img src="{{ 'img/logo-ext.png' | prepend: site.url }}" 
                 alt="Mann Robotics Logo" class=" site-logo-rg hide-on-small-only">
            <img src="{{ 'img/logo.png' | prepend: site.url }}"
                 alt="Mann Robotics Logo" class="site-logo-sm hide-on-med-and-up">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{site.url}}">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
  </nav>
</div>