<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    
    <title>{% if page.titleInTab and page.title %}{{ (site.title + ": " + page.title) | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    
    <!-- URL Handling -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    
    <!-- Chrome Mobile Customization -->
    <meta name="theme-color" content="#2196F3">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="{{ '/files/manifest.json' | prepend: site.url }}">
    
    
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <!-- Custom Styling -->
    <link rel="stylesheet" href="{{ '/css/styling.css' | prepend: site.url }}">
    <link rel="icon" href="{{ 'favicon.ico' | prepend: site.url }}">
    
    <!-- jQuery Library -->
    <script src="{{ '/js/jquery-2.1.4.min.js' | prepend: site.url }}"></script>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    
    <!-- Your application bootstrap  -->
    <script src="{{ '/js/angularBootstrap.js' | prepend: site.url }}"></script>
    <script>
        app.service('pageParameters', function(pageParamCheck) {
            return {
                getParameters: function() {
                    return pageParamCheck.validate({
                        pageTitle: "Home",
                        titleInTab: false,
                        hideBack: true,
                        hideMenu: false
                    });
                }
            };
        });
    </script>
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-76523336-1', 'auto');
        ga('send', 'pageview');
        
    </script>
</head>
