---
layout: default
title: Updates
---

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Updates</h2>
                 {% assign roof_postcount = paginator.page | times: paginator.per_page %}
                <p>Displaying {{ paginator.page | minus: 1 | times: paginator.per_page | plus: 1}} thru {% if roof_postcount > paginator.total_posts %}{{paginator.total_posts}}{% else %}{{paginator.page | times: paginator.per_page}}{% endif %} of {{paginator.total_posts}}.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="collection">
                    {% for post in paginator.posts %}
                    <a class="collection-item" href="{{post.url | replace: '/updates', 'updates' | prepend: site.url}}">
                        <h6>{{post.title}}</h6>
                        <p>{{ page.date | date: "%b %-d, %Y" }}</p>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
