---
layout: default
title: Updates
pagination: true
hideBack: true
---

<div class="container">
    <div class="row no-margin">
        <div class="col s12">
            <h2 class="center-align">Updates</h2>
        </div>
    </div>
    {% for post in paginator.posts %}
    <div class="row list-post">
        <a class="waves-effect" href="{{post.url | replace: '/updates', 'updates' | prepend: site.url}}">
            <div class="col s12">
                <h5 class="truncate light-blue-text text-darken-3">{{post.title}}</h5>
                {% assign postAuthor = 'Unknown' %}
                {% for author in site.data.authors %}
                    {% if post.username == author.username %}
                        {% assign postAuthor = author.name %}
                    {% endif %}
                {% endfor %}
                <p class="grey-text text-darken-1">
                    Posted on {{ post.date | date: "%b %-d, %Y" }} by {{postAuthor}}
                </p>
                <p class="grey-text text-darken-3 list-post-preview">
                    {{ post.content | strip_html | truncatewords: 100 }}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col s12 center-align">
            <ul class="pagination">
                
                {% assign pagenum_amt = 7 %}
                {% if 5 > pagenum_amt %}{% assign pagenum_amt = 5 %}{% endif %}
                {% if pagenum_amt | modulo: 2 == 0 %}{% assign pagenum_amt = pagenum_amt | minus: 1 %}{% endif %}
                
                {% assign count_diff = pagenum_amt | minus: 1 | divided_by: 2 %}
                
                {% assign pg_lowcap = paginator.page | minus: count_diff %}
                {% assign pg_highcap = paginator.page | plus: count_diff %}
                
                {% if pg_lowcap > 0 and paginator.total_pages > pg_highcap %}
                    {% assign minpage = pg_lowcap %}
                    {% assign maxpage = pg_highcap %}
                {% elsif 0 >= pg_lowcap %}
                    {% assign minpage = 1 %}
                    {% if pagenum_amt > paginator.total_pages %}
                        {% assign maxpage = paginator.total_pages %}
                    {% else %}
                        {% assign maxpage = pagenum_amt %}
                    {% endif %}
                {% elsif pg_highcap >= paginator.total_pages %}
                    {% assign minpage = paginator.total_pages | minus: pagenum_amt | plus: 1 %}
                    {% assign maxpage = paginator.total_pages %}
                {% endif %}
                
                {% if paginator.previous_page == nil %}
                <li class="disabled waves-effect waves-red paginator-icon">
                    <a><i class="material-icons">first_page</i></a>
                </li>
                <li class="disabled waves-effect waves-red paginator-icon">
                    <a><i class="material-icons">chevron_left</i></a>
                </li>
                {% else %}
                <li class="waves-effect paginator-icon">
                    <a href="{{'updates' | prepend: site.url}}">
                        <i class="material-icons">first_page</i>
                    </a>
                </li>
                <li class="waves-effect paginator-icon">
                    <a href="{{ paginator.previous_page_path | replace: '/updates', 'updates' | prepend: site.url}}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                {% endif %}
                {% for i in (minpage..maxpage) %}
                <li class="waves-effect{% if i == paginator.page %} active{% endif %}">
                    {% if i == 1 %}
                    <a href="{{ 'updates' | prepend: site.url }}">
                    {% else %}
                    <a href="{{site.url}}updates/page/{{i}}">
                    {% endif %}
                        {{i}}
                    </a>
                </li>
                {% endfor %}
                {% if paginator.next_page == nil %}
                <li class="disabled waves-effect waves-red paginator-icon">
                    <a><i class="material-icons">chevron_right</i></a>
                </li>
                <li class="disabled waves-effect waves-red paginator-icon">
                    <a><i class="material-icons">last_page</i></a>
                </li>
                {% else %}
                <li class="waves-effect paginator-icon">
                    <a href="{{ paginator.next_page_path | replace: '/updates', 'updates' | prepend: site.url}}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                <li class="waves-effect paginator-icon">
                    <a href="{{site.url}}updates/page/{{paginator.total_pages}}">
                        <i class="material-icons">last_page</i>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% assign roof_postcount = paginator.page | times: paginator.per_page %}
            <p class="center-align condensed">Currently showing {{ paginator.page | minus: 1 | times: paginator.per_page | plus: 1}} thru {% if roof_postcount > paginator.total_posts %}{{paginator.total_posts}}{% else %}{{paginator.page | times: paginator.per_page}}{% endif %} of {{paginator.total_posts}}.</p>
        </div>
    </div>
</div>
