---
layout: default
---
<div class="container">
    <div class="row post-meta">
        <div class="col s12">
            <h4>{{page.title}}</h4>
            <div>
                Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> by 
                {% assign authorName = "Unknown" %}
                {% assign authorUsername = 'nobody' %}
                {% if page.author %}
                {% for author in site.data.authors %}
                    {% if author.username == page.author and author.name %}
                        {% assign authorName = author.name %}
                        {% assign authorUsername = author.username %}
                    {% endif %}
                {% endfor %}
                {% endif %}
                <div class="chip">
                    <img src="{{site.url}}img/authors/{{authorUsername}}.jpg" alt="{{authorName}}">
                    {{authorName}}
                </div>
            </div>
            {% if page.tags.size > 0 %}
            <div>
                Tagged 
                {% for post-tag in page.tags %}
                <div class="chip">{{post-tag}}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 post-content">
            {{content}}
            
            {% if page.yt %}
            {% for vidID in page.yt %}
            <iframe id="ytplayer" type="text/html"
                    src="https://www.youtube.com/embed/{{vidID}}" 
                    frameborder="0" class="responsive-yt"></iframe>
            {% endfor %}
            {% endif %}
            
        </div>
    </div>
</div>

{% if page.autoImg %}
<script>
    $(document).ready(function() {
        $("div.post-content img").each(function() {
            $(this).addClass("responsive-img post-img center-img materialboxed");
            $(this).materialbox();
        });
    });
</script>
{% endif %}
